.faq{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 200px 0;
}
.faq .left h2{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #1B2E78;
    width: 385px;
}
.faq .left p{
    font-size: 18px;
    line-height: 27px;
    color: #232323;
    width: 385px;
    margin-top: 32px;
}
.faq .right .faq_button{
    width: 162px;
    margin-top: 50px;
}




.faq_question .item{
    width: 637px;
}
.faq_question .item .heading{
    display: flex;
    justify-content: space-between;
    color: #263F9B;
}
.faq_question .item .heading h3{
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 32px;
    cursor: pointer;
}
.faq_question .item p{
    font-size: 18px;
    line-height: 27px;
    color: #232323;
    width: 582px;
    padding: 0 50px 40px 0;
    display: none;
    transition: 0.5s;
}
.faq_question .item p.active{
    display: block;
}



@media (max-width:991px){
.faq .left{
    width: 100%;
}
.faq .left h2{
  width: 100%;
  padding: 0 20px;
}
.faq .left p{
    width: 100%;
    padding: 0 20px;
}
.faq .right{
    width: 100%;
    margin-top: 50px;
}
.faq .right .faq_button{
    width: 162px;
    margin-top: 50px;
    margin-left: 30px;
}
.faq_question .item{
    width: 95%;
    padding: 0 20px;
}
.faq_question .item p{
    width: 100%;
    padding: 0 50px 40px 0;
}



}