.notable{
    width: 100%;
    height: 859px;
    background: linear-gradient(183.49deg, rgba(0, 74, 223, 0.24) 0.82%, rgba(231, 237, 242, 0.24) 97.09%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.notable .left{
    width: 60%;
}
.notable .left .images{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.notable .left img{
    margin: 0;
    padding: 0;
    margin: 11px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 60.85%);
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}
.notable .left img:nth-child(1){
    width: 425px;
    height: 235px;
}
.notable .left img:nth-child(2){
    width: 254px;
    height: 219px;
}
.notable .left img:nth-child(3){
    width: 288px;
    height: 289px;
}
.notable .left img:nth-child(4){
    width: 418px;
    height: 243px;
}
.notable .right{
    width: 35%;
}
.notable .right h2{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    color: #263F9B;
}
.notable .right p{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #181818;
    width: 347px;
}
.notable .right .right_button{
    margin-top: 80px;
    width: 162px;
}


@media (max-width:991px){
.notable{
    height: auto;
    flex-direction: column;
}
.notable .left{
    width: 100%;
}
.notable .left img{
    width: 80%;
    height: auto;
}
.notable .left img:nth-child(1){
    width: 80%;
    height: 235px;
}
.notable .left img:nth-child(2){
    width: 80%;
    height: 219px;
}
.notable .left img:nth-child(3){
    width: 80%;
    height: 289px;
}
.notable .left img:nth-child(4){
    width: 80%;
    height: 243px;
}
.notable .right{
    width: 100%;
    text-align: center;
}
.notable .right p{
    width: 100%;
    padding: 0 40px;
}
.notable .right .right_button{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




}