.resource{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 96px 0 188px 0;
}
.mySwiper2{
    width: 80%;
    height: 250px;
}
.mySwiper2 .slider{
    width: 315px;
    height: 150px;
    border-radius: 8px;
    display: flex;
}
.mySwiper2 .slider .slider_content{
    display: flex;
}
.mySwiper2 .slider .user_image{
    width: 142px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mySwiper2 .slider .user_image img{
    width: 92px;
    height: 92px;
    border-radius: 7px;
}
.mySwiper2 .slider .content p{
    width: 153px;
    height: 75px;
    font-size: 16px;
    line-height: 25px;
    color: #263F9B;
    z-index: 10;
    text-align: left;
}


@media (max-width:991px){
.mySwiper2{
    width: 90%;
    height: 350px;
}
.mySwiper2 .slider{
    height: 550px;
    border-radius: 8px;
    display: flex;
}
.mySwiper2 .slider .slider_content{
    display: flex;
    flex-direction: column;
}
.mySwiper2 .slider .user_image{
    width: 100%;
    height: 150px;
}
.mySwiper2 .slider .user_image img{
    width: 100%;
    height: 100%;
}
.mySwiper2 .slider .content p{
    width: 80%;
    height: auto;
    text-align: center;
}


}
