
.mySwiper_one {
  width: 80%;
  height: 450px;
}
.mySwiper_one .slider{
    width: 358px;
    height: 421px;
    background: #fff;
    border-radius:16px;
}
.mySwiper_one .slider .slider_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mySwiper_one .slider .slider_content .user_image{
    width: 100%;
    height: 267px;
    background: #1e73b9;
    border-radius: 16px 16px 0 0;
}
.mySwiper_one .slider .user_image img{
    width: 100%;
    height: 100%;
}
.mySwiper_one .slider .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mySwiper_one .slider h3{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    color: #263F9B;
    text-align: center;
    margin-top: 10px;
}
.mySwiper_one .slider p{
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    text-align: center;
    width: 217px;
    margin-top: 20px;
}

.tranding{
    width: 100%;
    padding: 200px 0 200px 0;
}
.tranding .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tranding .text h2{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    color: #263F9B;
    text-align: center;
}
.tranding .text p{
    font-size: 18px;
    line-height: 27px;
    color: #232323;
    padding-top: 20px;
    width: 395px;
    text-align: center;
}
.tranding .right{
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
    padding-right: 130px;
}
.tranding p{
    float: right;
    font-size: 14px;
    color: #004ADF;
    padding-right: 15px;
}
.tranding #second{
    font-size: 14px;
    color: #004ADF;
    opacity: 0.6;
    padding-left: 15px;
    border-left: 2px solid #004ADF;

}

@media (max-width:991px){
.mySwiper_one{
    width: 95%;
    height: 350px;
}
.mySwiper_one .slider{
    height: 300px;
    border-radius:8px;
}
.mySwiper_one .slider .slider_content .user_image{
    width: 100%;
    height: 150px;
    border-radius: 16px 16px 0 0;
}
.mySwiper_one .slider p{
    font-size: 16px;
    line-height: 20px;
    color: #181818;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.tranding .text p{
    width: 100%;
    padding: 20px;
}


}