*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header .left h2{
    font-size: 3em;
    font-weight: 500;
    line-height: 100px;
}
.header .right{
    display: flex;
    font-weight: 500;
    line-height: 100px;
}
.header .right p{
    padding-left: 50px;
}

/* container one */

.containerOne{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.containerOne .left{
    width: 50%;
    padding-left: 50px;
}
.containerOne .left h2{
    color: rgb(51, 5, 138);
    font-size: 1.2em;
}
.containerOne .left h1{
    font-size: 2em;
    color: rgb(32, 32, 32);
}
.containerOne .left p{
    font-size: 1.1em;
    letter-spacing: 1px;
    width: 80%;
}
.containerOne .left .star{
    color: rgb(255, 184, 92);
}
.containerOne .left .details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: -50px;
}
.containerOne .left .details p{
    padding-left: 0;

}
.containerOne .left .days{
    display: flex;
}
.containerOne .left .days p{
    border: 1px solid #000;
    text-align: center;
    padding: 10px 0;
    font-weight: 800;
}
.containerOne .left .addCards{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.containerOne .left .addCards h2{
    color: aliceblue;
}
.containerOne .left #offer{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.containerOne .left #offer span{
    color: blue;
}
.containerOne .left .periodRoll{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.containerOne .left .periodRoll .black{
    background-color: #000;
    width: 100px;
    height: 70px;
}
.containerOne .left .periodRoll .pContent{
    width: 45%;
}
.containerOne .left .periodRoll .pContent h3{
    font-size: 1.2em;

}

.containerTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerTwo .one{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.containerTwo .one .left img{
    width: 300px;
    height: 400px;
}
.containerTwo .one .right{
    width: 50%;
}
.containerTwo .one .right h2{
    font-size: 2em;
    color: blue;
}
.containerTwo .one .right p{
    font-size: 1em;
    letter-spacing: 1px;
    width: 60%;
}



.swiper {
    width: 100%;
    height: 100%;
  }
.mySwiper{
    height: 700px;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.slidercard{
    border-radius: 1px solid #000;
    border-radius: 10px;
}
.slidercard #best{
    background-color: #000;
    width: 150px;
    padding: 5px 0;
    color: #fff;
    border-radius: 50px;
}





.footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer p{
    font-size: 1.3em;
    font-weight: 500;
}
.footer h2{
    font-size: 1.8em;
    font-weight: 800;
}
.footer #button{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
}
.footer .cards{
    display: flex;
    justify-self: center;
    align-items: center;
}
.footer .cards .card{
    width: 300px;
    height: 400px;
    position: relative;
    margin: 10px;
}
.footer .cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer .cards .card p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(4, 26, 46);
}
